@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.start-section {
  background: url("/images/main.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5%;
}

.content {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}

.content-choose {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
  justify-content: center;
}

.title {
  background-color: #ffffffd5;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  padding-left: 5px;
  padding-right: 30px;
  margin-top: 60%;
  margin-left: 14%;
  width: 70%;
  position: relative;
}

.info {
  background: linear-gradient(
    0deg,
    rgba(224, 242, 255, 1) 0%,
    rgba(240, 249, 255, 1) 57%,
    rgba(240, 249, 255, 1) 78%
  );
}

.title-2 {
  background: #1564a0;
  background: linear-gradient(to right, #1564a0 20%, #fdc409 70%);
  font-family: basic;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 4%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 48px;
  font-weight: 700;
}

.tour {
  width: calc(100% / 4);
}

.checkbox {
  appearance: none;
  width: 17px;
  height: 17px;
  border: 1px solid #1564a0;
  margin-right: 10px;
  margin-left: 80px;
  cursor: pointer;
}

.checkbox:checked {
  background-color: #1564a0;
  background-image: url("/images/icon-checkbox.png");
  background-position: center;
  background-size: contain;
}

.scroll {
  min-height: 210px;
}

.scroll::-webkit-scrollbar {
  width: 15px; /* ширина всей полосы прокрутки */
}

.scroll::-webkit-scrollbar-track {
  background: #fdc409; /* цвет зоны отслеживания */
  border-radius: 20px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #1564a0; /* цвет бегунка */
  border-radius: 30px; /* округлость бегунка */
  width: 100%;
}

.slider {
  color: #1564a0;
}

.nothing {
  font-size: 26px;
  font-family: "Lora", serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 150px;
  color: red;
}

.oups {
  width: 40%;
  margin: 0 auto;
}

.numberInputStyle {
  font-size: 16px;
  font-family: "Lora", serif;
  color: red;
}

.hotel {
  min-height: 120px;
}

.modal-styles {
  height: 90%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation-duration: 0.55s;
  animation-fill-mode: both;
  animation-name: modalWindowAnimation;
}

.modal {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

@keyframes modalWindowAnimation {
  0% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.form_req {
  display: flex;
  flex-direction: column;
}

.button-modal {
  width: 100%;
  color: #1564a0;
  margin-bottom: 2%;
}

.button-modal:hover {
  background-color: #1564a0;
  color: aliceblue;
}

input.form-input:focus {
  border: 2px solid #0ea5e9;
  outline: 0;
  outline-offset: 0;
  box-shadow: 0 0 15px #1564a0;
  background-color: #fdc409;
}

textarea.area:focus {
  border: 2px solid #0ea5e9;
  outline: 0;
  outline-offset: 0;
}

.form-input._error {
  box-shadow: 0 0 15px red;
}

.loader-container {
  width: 100%;
  height: 100vh;
  background-color: #1564a0;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 75px;
  height: 75px;
  border: 10px solid #fdc409;
  border-radius: 50%;
  border-left-color: rgb(158, 194, 235);
  animation: loader 1.3s linear infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 900px) {
  .modal {
    height: 20%;
  }

  .modal-styles {
    height: max-content;
  }
}

@media (max-width: 900px) {
  .tour {
    width: calc(100% / 3);
  }

  .select {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .title-2 {
    font-size: 28px;
  }

  .tour {
    width: calc(90%);
  }

  .select {
    width: 90%;
  }

  .mobile-version {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
  }

  .mobile-version-buttons {
    flex-direction: column;
    padding-left: 5px;
  }

  .mobile-version-button {
    width: 90%;
    margin: 6 auto;
  }

  .elem-mobile {
    font-size: 20px;
    margin: 0 auto;
  }

  .modal-styles,
  .modal {
    width: 90%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .modal {
    height: 50%;
  }
}

@media (max-width: 400px) {
  .checkbox-mini {
    margin-left: 5px;
  }
}

@media (min-width: 600px) {
  .mobile-version {
    flex-direction: row;
  }
}
