@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.start-section {
    background: url("/images/main.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 5%;
}

.content {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.title {
background: linear-gradient(
    89.81deg,
    #ffffffcf 0.12%,
    rgba(221, 221, 221, 0.76) 90%
  );
  border-bottom-left-radius: 14px;
  border-top-right-radius: 14px;
  padding: 0.2rem 0.2rem 0.2rem 0.9rem;
}

.info {
background: linear-gradient(0deg, rgba(224,242,255,1) 0%, rgba(240,249,255,1) 57%, rgba(240,249,255,1) 78%);
}
